<div class="container">
			<div class="row">
				<div class="four columns">
					<p>
						<small><b>Contacts</b></small>
					</p>
					<p>
						<small><a href="mailto:team@kemo.rocks">team@kemo.rocks</a></small>
					</p>
					<p>
						<small><a target="_blank" href="http://blog.kemo.rocks">Blog</a></small>
					</p>
				</div>
				<div class="four columns">
					<p>
						<small><b>Technology</b></small>
					</p>
					<p>
						<small>
							<a target="_blank" href="http://undertow.io">Undertow</a>
						</small>
					</p>
					<p>
						<small>
							<a target="_blank" href="http://riotjs.com">Riot.js</a>
							<a target="_blank" href="https://github.com/spullara/mustache.java">Mustache.java</a>
						</small>
					</p>
					<p>
						<small>
							<a target="_blank" href="http://gradle.org">Gradle</a>
							<a target="_blank" href="https://www.python.org">Python</a>
						</small>
					</p>
				</div>
				<div class="four columns">
					<p>
						<small><b>Security</b></small>
					</p>
					<p>
						<small>
							<a target="_blank" href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard">AES in CFB mode</a>
						</small>
					</p>
					<p>
						<small>
							<a target="_blank" href="https://letsencrypt.org">SSL certificate by Let's Encrypt</a>
						</small>
					</p>
				</div>
			</div>
		</div>