/**
* Theme Pinky
* Link http://paletton.com/#uid=15-1r0k7UUa3cZA5wXlaiQ5cFL3
**/
body {
	background-color: #FFE5E8;
    color: black;
    letter-spacing: 0.07em;
}

h1 a {
    color: black;
}

h1 a:hover {
    color: black;
}

a {
	color: #FB98A1;
}

a:hover {
	color: #FB98A1;
}

button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFFFE6;
    background-color: #FDBFC5;
    border-color: #FCABB3;
}
button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover {
    color: #FFFFE6;
    background-color: #FDBFC5;
    border-color: #FCABB3;
}

button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
    color: #FFFFE6;
    background-color: #FDBFC5;
    border-color: #FCABB3;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
    background-color: #FDBFC5;
    border-color: #FCABB3;
}

.messages-box {
    background-color: #FDBFC5;
    border: 1px solid #FCABB3;
}

.messages-box div.sent {
	 color: #82828B;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border:1px solid #FB98A1;
}

