/**
* Theme Midnight light
* Link http://paletton.com/#uid=73+0H0kbKcK81kZadhuhVc9mHb0
**/
body {
	background-color: #313147;
    color: white;
    letter-spacing: 0.07em;
}

h1 a {
    color: white;
}

h1 a:hover {
    color: white;
}

a {
	color: #665570;
}

a:hover {
	color: #665570;
}

button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFF;
    background-color: #5C5C75;
    border-color: #474762;
}
button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover {
    color: #FFF;
    background-color: #5C5C75;
    border-color: #474762;
}

button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #5C5C75;
    border-color: #474762;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
    background-color: #313147;
    border-color: #474762;
}

.messages-box {
    background-color: #313147;
    border: 1px solid #474762;
}

.messages-box div.sent {
	 color: #82828B;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border:1px solid #665570;
}

