<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>kemo.rocks</title>	    
		<link rel="shortcut icon" href="/static/icons/favicon.ico" />
		<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
		{{^prod_mode}}
		<link rel="stylesheet" href="/static/dev/css/normalize.css?version={{res_version}}">
		<link rel="stylesheet" href="/static/dev/css/skeleton.css?version={{res_version}}">
		<link rel="stylesheet" href="/static/dev/css/custom.css?version={{res_version}}">
		<link rel="stylesheet" href="/static/dev/css/theme-midnight.css?version={{res_version}}">
		{{/prod_mode}}
		{{#prod_mode}}
		<link rel="stylesheet" href="/static/prod/css/normalize.min.css?version={{res_version}}">
		<link rel="stylesheet" href="/static/prod/css/kemo.all.min.css?version={{res_version}}">
		<link rel="stylesheet" href="/static/prod/css/theme-midnight.min.css?version={{res_version}}">
		{{/prod_mode}}
	</head>
	<body class="embedded-body">
		<kemo-chat id="public-chat" key="#publicsessionkey"></kemo-chat>
	</body>
	{{^prod_mode}}
	<script src="/static/dev/js/thirdparty/forge/forge.min.js?version={{res_version}}"></script>
	<script src="/static/dev/js/riot.min.js?version={{res_version}}"></script>
	<script src="/static/dev/js/kemo.core.js?version={{res_version}}"></script>
	<script src="/static/dev/js/kemo.client.encryption.js?version={{res_version}}"></script>
	<script src="/static/dev/js/kemo.client.comm.js?version={{res_version}}"></script>
	<script src="/static/dev/js/kemo.client.view.js?version={{res_version}}"></script>
	<script src="/static/dev/js/kemo.client.ext.js?version={{res_version}}"></script>
	<script src="/static/dev/js/kemo.client.js?version={{res_version}}"></script>
	{{/prod_mode}}
	{{#prod_mode}}
	<script src="/static/prod/js/all.min.js?version={{res_version}}"></script>
	{{/prod_mode}}
</html>