<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>kemo.rocks</title>
<link rel="shortcut icon" href="/static/icons/favicon.ico" />
<link rel="apple-touch-icon" href="/static/icons/Icon-76@2x.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/icons/Icon-76.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/icons/Icon-120.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/icons/Icon-76@2x.png">
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
{{^prod_mode}}
<link rel="stylesheet" href="/static/dev/css/normalize.css?version={{res_version}}">
<link rel="stylesheet" href="/static/dev/css/skeleton.css?version={{res_version}}">
<link rel="stylesheet" href="/static/dev/css/custom.css?version={{res_version}}">
<link rel="stylesheet" href="/static/dev/css/theme-apple-blue.css?version={{res_version}}">
{{/prod_mode}} {{#prod_mode}}
<link rel="stylesheet" href="/static/prod/css/normalize.min.css?version={{res_version}}">
<link rel="stylesheet" href="/static/prod/css/kemo.all.min.css?version={{res_version}}">
<link rel="stylesheet" href="/static/prod/css/theme-apple-blue.min.css?version={{res_version}}">
{{/prod_mode}}
</head>
<body>
	<div class="container">
		<section class="header">
			<h1>
				<a href="/">kemo<b>.</b>rocks
				</a>
			</h1>
			<div class="row">
				<div class="ten columns">
					<p>Simple secure anonymous messaging</p>
				</div>
				<div class="two columns">
					<a href="#">Get Started</a>
				</div>
			</div>
		</section>
		<section class="welcome">
			<h1>TODO</h1>
		</section>
	</div>
	<section class="footer">
		<div class="container">
			<div class="row">
				<div class="four columns">
					<p>
						<small><b>Contacts</b></small>
					</p>
					<p>
						<small><a href="mailto:team@kemo.rocks">team@kemo.rocks</a></small>
					</p>
					<p>
						<small><a target="_blank" href="https://blog.kemo.rocks">Blog</a></small>
					</p>
				</div>
				<div class="four columns">
					<p>
						<small><b>Technology</b></small>
					</p>
					<p>
						<small>
							<a target="_blank" href="http://undertow.io">Undertow</a>
							<a target="_blank" href="https://www.openshift.com">Openshift</a>
						</small>
					</p>
					<p>
						<small>
							<a target="_blank" href="http://riotjs.com">Riot.js</a>
							<a target="_blank" href="https://github.com/spullara/mustache.java">Mustache.java</a>
						</small>
					</p>
					<p>
						<small>
							<a target="_blank" href="http://gradle.org">Gradle</a>
							<a target="_blank" href="https://www.python.org">Python</a>
						</small>
					</p>
				</div>
				<div class="four columns">
					<p>
						<small><b>Security</b></small>
					</p>
					<p>
						<small>
							<a target="_blank" href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard">AES in CFB mode</a>
						</small>
					</p>
					<p>
						<small>
							<a target="_blank" href="https://www.rapidssl.com">SSL certificate by RapidSSL</a>
						</small>
					</p>
				</div>
			</div>
		</div>
	</section>
</body>
{{^prod_mode}}
<script src="/static/dev/js/thirdparty/riot/riot.min.js?version={{res_version}}"></script>
<script src="/static/dev/js/kemo.core.js?version={{res_version}}"></script>
<script src="/static/dev/js/kemo.client.ext.js?version={{res_version}}"></script>
<script src="/static/dev/js/kemo.welcome_page.js?version={{res_version}}"></script>
{{/prod_mode}} {{#prod_mode}}
<script src="/static/prod/js/welcome.all.min.js?version={{res_version}}"></script>
{{/prod_mode}}
</html>