<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>kemo.rocks</title> {{&header_html}}
</head>
<body>
	<section class="welcome solid">
		<div class="container">
			<div class="row">
				<h1>
					<a href="/">kemo<b>.</b>rocks
					</a>
				</h1>
			</div>
		</div>
	</section>
	<section class="welcome-big bg-image-0">
		<div class="container">
			<div class="row">
				<div class="one-half column">
					<h3 class="hero-heading">Simple secure anonymous messaging</h3>
					<a class="button button-primary" href="/chat">Start web client</a> <a class="button" href="#">OS X client</a>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<section class="welcome">
			<div class="row">
				<h2>Anonymous</h2>
				<p>
					No user accounts, no nicknames or anything what can identify any user. To improve your privacy we recommend to use <a href="https://www.torproject.org/projects/torbrowser.html.en">Tor browser</a>.
				</p>
				<h2>Secure</h2>
				<p>Encrypted messaging using secured transport channel. No messages or keys are stored out of your computer. It's only up to you how strong will be your keys and who will know it.</p>
				<h2>Simple</h2>
				<p>No registration or installation is required. Just <a href="/chat">open kemo web client</a> and chat.</p>
			</div>
		</section>
	</div>
	<section class="welcome-big solid">
		<div class="container">
			<div class="row">
				<h2>Get Started</h2>
				<ul>
					<li>Choose your key and distribute it to chat participants</li>
					<li>Open kemo.rocks chat using url <a href="/chat">https://kemo.rocks/chat</a></li>
					<li>Fill key into secret key field and start chatting</li>
				</ul>
			</div>
		</div>
	</section>
	<div class="container">
		<section class="welcome">
			<div class="row">
				<h2>Want More?</h2>
				<p>
					In case of any questions contact us at <a href="mailto:team@kemo.rocks">team@kemo.rocks</a>. Your feedback is welcome.
				</p>
				<p>Project is still in development phase and current version is just MVP to prove that simple secure messaging platform is possible.</p>
				<p>
					All project news and releases are published at our <a href="http://blog.kemo.rocks">blog.kemo.rocks</a>.
				</p>
			</div>
		</section>
	</div>
	<section class="footer welcome-big bg-image-0">{{&footer_html}}</section>
</body>
{{^prod_mode}}
{{/prod_mode}} {{#prod_mode}}
{{/prod_mode}}
</html>